@charset "utf-8";
/* CSS Document */

#ie6-warning p {
	margin: 0px !important;
	padding: 0px !important;
}

#ie6-warning .main p.note {
	font-weight: bold;
	color: #cc0000;
	margin: 5px 0 !important;
	padding-left: 25px !important
}

#ie6-warning ul {
	margin-top: 0px !important;
}

#ja-wrapper {
	margin-top: 10px;
}